{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block main %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 border pt-3 pb-3 ps-4 pe-4">
            <form action="/add" id="add-form">
                <div class="row justify-content-center">
                    <div class="col-lg-1">
                        <label for="date" class="form-label pt-1" >日期</label>
                    </div>
                    <div class="col-lg-5">
                        <input id="date" type="date" name="date" class="form-control">
                    </div>
                    <div class="col-lg-1">
                        <label for="count" class="form-label pt-1">場數</label>
                    </div>
                    <div class="col-lg-5">
                        <input id="count" name="count" type="number" min="1" class="form-control">
                    </div>

                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="col-lg-1">
                        <label for="location" class="form-label pt-1">場地</label>
                    </div>
                    <div class="col-lg-9">
                        <select id="location" name="location" class="form-select">
                            <option value="ST">沙田</option>
                            <option value="HV">跑馬地</option>
                        </select>
                    </div>
                    <div class="col-lg-2 text-end">
                        <input type="submit" value="提交" class="btn btn-primary w-100">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12 text-center h2 text-primary" id="status">
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="../static/add.js"></script>
{% endblock %}
